<form #loginForm="ngForm" (ngSubmit)="onSubmit()">
	<input name="email" [(ngModel)]="email" type="text" required email #em="ngModel" />
	<input name="password" [(ngModel)]="password" type="password" required #pw="ngModel" />
	
	<!-- [disabled]="!loginForm.form.valid" -->
	<input name="submit" type="submit" value="Login" [disabled]="!loginForm?.form.valid"/>
	{{loginForm?.form.valid}}

	<!--  || emailModel.pristine -->
	<div [hidden]="em.valid && pw.valid" class="validation-errors">
		<p *ngIf="em.errors?.required">Email is required</p>
		<p *ngIf="em.errors?.email">Email must be a valid email address</p>
		<p *ngIf="pw.errors?.required">Password is required</p>
	</div>

</form>